@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.app {
  color: #222;
  font-size: 12px;
  padding: 1.25rem;
}

.app-layout {
  padding: 0;
}

.app-layout-scroller + .app-layout-button {
  font-weight: 500;
}

.app-layout-scroller {
  padding: 0 1.25rem;
  padding-top: 1.25rem;
  margin: 0 -1.25rem;
}

.link {
  color: #55d29e;
}

.button {
  position: relative;
  display: inline-block;
  height: auto;
  color: white;
  font: inherit;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.25rem;
  border: none;
  border-radius: 1rem;
  background: #55d29e;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
}

.button::after {
  content: '';
  position: absolute;
  display: block;
  left: -40px;
  top: -100px;
  width: 20px;
  height: 200px;
  margin-left: 50px;
  background: white;
  transform: rotate(45deg);
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.5) 100%
  );
  animation: moving-flare 3s ease-in-out 0.05s infinite;
  z-index: 1;
}

.summary {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.summary-rating {
  font-weight: 700;
}

.card {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  border: none;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-head {
  line-height: inherit;
  border: none;
  padding-bottom: 0;
}

.card-body {
  padding-bottom: 16px;
}

.field {
  position: relative;
}

.field-input {
  display: block;
  width: 100%;
  height: auto;
  color: #222;
  font: inherit;
  font-weight: 500;
  text-align: center;
  padding: 1.25rem;
  border: none;
  border-radius: 1rem;
  background: #efefef;
}

.overlay-head {
  border: none;
}

@keyframes moving-flare {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
