@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.app {
  color: #161519;
  font-size: 14px;
  padding: 1.25rem;
  background: linear-gradient(180deg, #fff 0%, #eee 100%);
}

.app-layout {
  padding: 0;
}

.app-layout-scroller + .app-layout-button {
  color: #2d2565;
  text-decoration: underline;
}

.app-layout-scroller + .app-layout-button::before {
  background: linear-gradient(180deg, transparent 0%, #efefef 75%);
}

.link {
  color: #715df6;
}

.link:hover {
  color: #2d2565;
  text-decoration: none;
}

.button {
  height: auto;
  color: #fff;
  font: inherit;
  line-height: 1;
  padding: 0.375rem;
  border-radius: 1.875rem;
  border: 1px solid #715df6;
  background: linear-gradient(90deg, #3a2cb3 0%, #6655e9 100%);
  user-select: none;
}

.star-rating {
  max-width: 70px;
  fill: #715df6;
}

.summary {
  border: none;
  border-radius: 0.625rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.05);
}

.summary-rating {
  font-size: 38px;
  font-weight: 600;
  line-height: 46px;
}

.summary .star-rating {
  margin-bottom: 3px;
}

.list-item + .list-item,
.list-item > .list-item-list {
  margin-top: 10px;
}

.list-item-list::before {
  background: #d8d8d8;
}

.card {
  line-height: 1.2;
  border-radius: 0;
  border: 1px solid #d8d8d8;
  background: white;
}

.card-head {
  line-height: inherit;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px 16px;
}

.card-head-main {
  font-weight: 600;
}

.card-head-date {
  color: #999;
}

.card-body {
  padding: 16px;
}

.field {
  position: relative;
}

.field-input {
  display: block;
  width: 100%;
  height: auto;
  color: inherit;
  font: inherit;
  font-size: 1rem;
  font-weight: 500;
  font-variant-caps: all-small-caps;
  line-height: 1;
  text-align: center;
  border-radius: 2em;
  border: 1px solid transparent;
  padding: 0.75rem 1.25rem;
  background: #e8e8e8;
}

.overlay-head {
  border: none;
}
